= form_for @user, html: { multipart: true }  do |f|

  = f.file_field :image
  %br
  %br
  = f.label 'Tagline'
  = f.text_field :tagline 
  %br
  %br
  = f.label 'Owner'
  = f.text_field :name 
  %br
  %br
  = f.submit "Submit"